<div  [ngClass]="lang=='ar'?'rtl':'ltr'">
<div class="row justify-content-between m-3">
  <h1 class="col col-7 d-flex justify-content-start" i18n>{{'currentPlayer'|translate}}:{{ player }}</h1>
  <div class="col col-5 d-flex justify-content-end">
    <button class="btn"  [ngClass]="!!isEnglish?'btn-outline-primary':'btn-primary'"   (click)="OnChangeLang('ar')">AR</button>
    <button class="btn"  [ngClass]="!!isEnglish?'btn-primary':'btn-outline-primary'" (click)="OnChangeLang('en')">EN</button>
  </div>
</div>

<button class="m-3 mb-4 d-flex" nbButton outline status="danger" (click)="newGame()" i18n>
  {{'startNewGame'|translate}}
</button>
</div>
<nb-flip-card  [className]="!!winner?'flipped':''" [showToggleButton]="false">
  <nb-card-front id="card" >
    <nb-card>
      <nb-card-body>
        <main class="row justify-content-center m-3">
          <app-square
            class="p-0"
            *ngFor="let val of squares; let i = index"
            [value]="val"
            (click)="makeMove(i)"
          >
          </app-square>
        </main>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back *ngIf="winner">
    <nb-card>
      <nb-card-body>
        <h1 class="m-3 mb-4" *ngIf="winner" [ngClass]="lang=='ar'?'rtl':'ltr'" i18n>
          {{'player'|translate}} {{'wonTheGame'|translate}} {{ winner }} !
        </h1>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
